
<!DOCTYPE html>
<html>
<head>
    <title>Progress Bar Demo</title>
</head>

<body ng-app="progressBarApp">
<div class="ProgressBar" ng-controller="ProgressBarCtrl">
    <h1>Progress Bars Demo</h1>
	<div ng-repeat="item in progressBarData">
	<div class="mainDiv">
        <div class="outerDiv">
            <div class="innerDiv {{item.class}}" id="progressBar1" ng-style="widthStyle(item)"></div>
        </div>
        <div class="innerText">{{item.displayWidth}}%</div>
    </div>
	</div>
    <div class="controls">
		<select ng-model="selectedProgressBar" ng-options="progressBarItem.value as progressBarItem.name for progressBarItem in progressBarData "></select>
        <button ng-click="changeProgress(25, false)" progressValue="25">-25</button>
        <button ng-click="changeProgress(10, false)" progressValue="10">-10</button>
        <button ng-click="changeProgress(10, true)"  progressValue="10">+10</button>
        <button ng-click="changeProgress(25, true)"  progressValue="25">+25</button>
    </div>
</div>
    <script src="Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="Scripts/angular.min.js"></script>
	<script src="Scripts/ProgressBar.js" type="text/javascript"></script>
	<link href="Style/ProgressBar.css" rel="stylesheet" type="text/css" />
</body>
</html>
